// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    border: 8px solid #FDFF00;
    border-radius: 5px;
    outline-style: double;
    outline-color: #FF5470;
    
    
   
    
  }


  
  

  